README.md
output_img/
assignment_os_report.aux
assignment_os_report.fdb_latexmk
assignment_os_report.fls
assignment_os_report.lof
assignment_os_report.log
assignment_os_report.lot
assignment_os_report.out
assignment_os_report.synctex.gz
assignment_os_report.toc
